@import url('styles/_variables.scss');
@import url('styles/_fonts.scss');
@import url('styles/_mixins.scss');

@keyframes button-pulse-animation{
    0%{
        transform: scale(0.9);
    }
    50%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(0.9);
    }
}

$block-width: 1920;

.body-404{
    background-color: var(--color-blue);
}

.header-404__circle1{
    width: 413px;
    aspect-ratio: 1;
    @include circle-blur();
    position: absolute;
    top: calc(-450 / $block-width * 100vw);
    left: calc(-600 /$block-width * 100vw);
}

.header-404__circle2{
    width: 413px;
    aspect-ratio: 1;
    @include circle-blur();
    position: absolute;
    left: calc(500 / $block-width * 100vw);
}

.header-404__circle3{
    width: 413px;
    aspect-ratio: 1;
    @include circle-blur();
    position: absolute;
    top: calc(450 / $block-width * 100vw);
    left: calc(1500 / $block-width * 100vw);
}

.header-404{
    margin-left: calc(400 / $block-width * 100vw);
    margin-top: calc(200 / $block-width * 100vw);
    display: flex;
    flex-direction: column;
}

.header-404__Vec1{
    position: absolute;
    width: calc(70 / $block-width * 100vw);
    height: calc(75 / $block-width * 100vw);
    top: calc(-50 / $block-width * 100vw);
    left: calc(160 / $block-width * 100vw);
}

.header-404__Vec2{
    position: absolute;
    width: calc(45 / $block-width * 100vw);
    height: calc(50 / $block-width * 100vw);
    top: calc(580 / $block-width * 100vw);
    left: calc(810 / $block-width * 100vw);
}

.header-404__Vec3{
    position: absolute;
    width: calc(50 / $block-width * 100vw);
    height: calc(55 / $block-width * 100vw);
    top: calc(50 / $block-width * 100vw);
    left: calc(1800 / $block-width * 100vw);
}

.header-404__Vec4{
    position: absolute;
    width: calc(80 / $block-width * 100vw);
    height: calc(90 / $block-width * 100vw);
    top: calc(600 / $block-width * 100vw);
    left: calc(190 / $block-width * 100vw);
}

.header-404__text{
    font-family: "Raleway-Bold";
    font-weight: 700;
    font-size: calc(250 / $block-width * 100vw);
    line-height: calc(250 / $block-width * 100vw);
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--color-light);
}

.header-404__text-small{
    font-family: "Raleway-Thin";
    font-weight: 100;
    font-size: calc(96 / $block-width * 100vw);
    line-height: calc(96 / $block-width * 100vw);
    margin-top: 30px;
}

.header-404::after{
    content: '';
    background-image: url(
        images/404/1920.png);
    background-size: cover;
    display: inline-block;
    width: calc(860 / $block-width * 100vw);
    height: calc(660 / $block-width * 100vw);
    position: absolute;
    top: calc(-150 / $block-width * 100vw);
    left: calc(860 / $block-width * 100vw);
}

.header-404-main-link{
    text-decoration: none;
    color: var(--color-light);
    font-family: "Raleway-Regular";
    font-weight: 400;
    font-size: calc(18 / $block-width * 100vw);
    line-height: calc(18 / $block-width * 100vw);
    background-color: var(--color-red);
    display: flex;
    width: calc(350 / $block-width * 100vw);
    height: calc(60 / $block-width * 100vw);
    border-radius: var(--border-radius);
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    animation-name: button-pulse-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.header-404-main-link::before{
    content: "";
    position: absolute;
    width: calc(350 / $block-width * 100vw);
    height: calc(60 / $block-width * 100vw);
}

@media  screen and (max-width: 960px) {
    $block-width: 210;

    .header-404__circle1{
        top: calc(-450 / $block-width * 100vw);
        left: calc(-600 / $block-width * 100vw);
    }
    
    .header-404__circle2{
        left: calc(500 / $block-width * 100vw);
    }
    
    .header-404__circle3{
        top: calc(450 / $block-width * 100vw);
        left: calc(1500 / $block-width * 100vw);
    }
    
    .header-404{
        margin-left: calc(40 / $block-width * 100vw);
        margin-top: calc(140 / $block-width * 100vw);
    }
    
    .header-404__Vec1{
        width: calc(70 / $block-width * 100vw);
        height: calc(75 / $block-width * 100vw);
        top: calc(-50 / $block-width * 100vw);
        left: calc(160 / $block-width * 100vw);
    }
    
    .header-404__Vec2{
        width: calc(45 / $block-width * 100vw);
        height: calc(50 / $block-width * 100vw);
        top: calc(580 / $block-width * 100vw);
        left: calc(810 / $block-width * 100vw);
    }
    
    .header-404__Vec3{
        width: calc(50 / $block-width * 100vw);
        height: calc(55 / $block-width * 100vw);
        top: calc(50 / $block-width * 100vw);
        left: calc(1800 / $block-width * 100vw);
    }
    
    .header-404__Vec4{
        width: calc(80 / $block-width * 100vw);
        height: calc(90 / $block-width * 100vw);
        top: calc(600 / $block-width * 100vw);
        left: calc(190 / $block-width * 100vw);
    }
    
    .header-404__text{
        font-size: calc(250 / $block-width * 100vw);
        line-height: calc(250 / $block-width * 100vw);
    }
    
    .header-404__text-small{
        font-size: calc(96 / $block-width * 100vw);
        line-height: calc(96 / $block-width * 100vw);
    }
    
    .header-404::after{
        background-repeat: no-repeat;
        width: calc(545 / $block-width * 100vw);
        height: calc(660 / $block-width * 100vw);
        top: calc(-70 / $block-width * 100vw);
        left: calc(150 / $block-width * 100vw);
    }
    
    .header-404-main-link{
        font-size: calc(18 / $block-width * 100vw);
        line-height: calc(18 / $block-width * 100vw);
        width: calc(350 / $block-width * 100vw);
        height: calc(60 / $block-width * 100vw);
    }
    
    .header-404-main-link::before{
        width: calc(350 / $block-width * 100vw);
        height: calc(60 / $block-width * 100vw);
    }
}
