@import url('/styles/_variables.scss');

@mixin fluid-text($max:18, $min:14, $container-width:var(--conteiner-big)){
    font-size: clamp(#{min}px, calc($max / $container-width * 100vw), #{$max}px);
}

@mixin reset-link{
    color: inherit;

    &, &:hover{
        text-decoration: none;
    }
}

@mixin reset-button{
    padding: 0;
    background-color: transparent;
    border: none;
}

@mixin square($size){
    width: $size;
    aspect-ratio: 1;
}