@import url('styles/_variables.scss');

@mixin circle-blur{
    background-color: var(--color-red);
    background-size: 413px 413px;
    border-radius: calc(413px / 2);
    filter: blur(200px);
    opacity: 50%;
}

