:root{
    --color-light: #fff;
    --color-blue: #272937;
    --color-dark-blue: #343849;
    --color-red: #F04451;
    --color-dark: #0D0F1B;

    --border-radius: 15px;
    --border-white: solid 1px var(--color-light);

    --conteiner-big: 1920px;
    --conteiner-middle: 960px;
    --container-small: 640px;
    --container-very-small: 360px;

    --transition-duration: 0.7s;
    
}